
  
  .mySwiper .swiper-button-next {
    color:#000;
    font-size:3rem;
    padding-right: 3rem;
  }

  .mySwiper .swiper-button-prev {
    
color:#000;
font-size:3rem;
padding-left: 3rem;
  
  }
  
